.card {
    width: auto;
    margin-top: 1rem;
}

.col {
    padding: 0;
}

.delete-btn {
    margin-left: 0.5rem;
    border: 0;
    background-color: transparent;
    color: #594246;
}

.delete-btn:hover {
    color: #8C7075;
}