.add-btn {
    border: 0;
    background-color: transparent;
    color:  #327508;
    padding: 0;
    height: 1.5rem;
    width: 1.5rem;
}

.delete-btn {
    border: 0;
    background-color: transparent;
    color:  #327508; /*#594246;*/
    padding: 0;
}

.delete-btn:hover {
    color: #97BF7E; /*#8C7075;*/
    background-color: transparent;
}
